*.DS_Store/*
.DS_Store
.depend
*.o
*.d
/src/qemu-git/arm-softmmu
/src/qemu-git/libhw32
/src/qemu-git/libhw64
/src/qemu-git/config-host.*
/src/qemu-git/config-all-devices.mak
/dist/x50ng
/dist/sdcard
/dist/x50ng.desktop
/dist/x50ng.man
/dist/firmware/*.zip
/dist/firmware/Readme.txt
/dist/firmware/boot-*.bin
/dist/firmware/hp4950v215/
/dist/firmware/newrpl-latest/
/compile_commands.json
