*.DS_Store/*
.DS_Store
.depend
*.o
*.d
/sdcard
/x49gp
/src/qemu-git/arm-softmmu
/src/qemu-git/libhw32
/src/qemu-git/libhw64
/src/qemu-git/config-host.*
/src/qemu-git/config-all-devices.mak
/firmware/*.bin
